<nz-descriptions nzTitle="User Detail">
  <nz-descriptions-item nzTitle="Name">{{ Name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="UserName">{{ UserName }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">{{ Email }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Phone">{{ Phone }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Website">
    {{ Website }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Company">{{ Company }}</nz-descriptions-item>
</nz-descriptions>
