<header class="header">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected style="font-weight: bold">
      <a [routerLink]="['/users']">
        <i nz-icon nzType="user"></i>
        Users
      </a>
    </li>
    <li nz-submenu nzTitle="Navigation Three - Submenu" nzIcon="setting">
      <ul>
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu nzTitle="Sub Menu">
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </ul>
    </li>
  </ul>
</header>
